
@use '../presets' as *;

// Alerts module styles
// Check 'assets/inc/pages_body-alerts.php' for details.

.alerts-box {

  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px;
  
  @include for-lg { @include for-max-xl {

    width: 50%;
    padding: 15px;

  }}

  @include for-xl { @include for-max-xxl {

    width: 45%;
    padding: 20px;

  }}
  
  @include for-xxl {

    width: 40%;
    padding: 25px;
    max-width: 600px;

  }

}

.alerts-item.hidden  {
    display: none !important;
}
