._*

.DS_Store
.AppleDB
.AppleDesktop
.AppleDouble
.LSOverride
.Trashes
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.DocumentRevisions-V100
.com.apple.timemachine.donotpresent
.fseventsd
.apdisk
.sass-cache

Network Trash Folder
Temporary Items
Desktop.ini
Thumbs.db

.nova

config.codekit
config.codekit3